@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@800&display=swap');
:root{
    ---light-cyan: hsl(193, 38%, 86%);
---green: hsl(150, 100%, 66%);
---dark-gray: hsl(217, 19%, 38%);
---very-dark-gray: hsl(217, 19%, 24%);
---black: hsl(218, 23%, 16%);
}
html{
    font-size: 62.5%;
}
body{
    font-weight: 800;
    font-family: 'Manrope', sans-serif;
    background-color: var(---black);
    color: var(---light-cyan);
    text-align: center;
    font-size: 2em;
}
.flex{
    display: flex;
    justify-content: center;
    align-items: center;
}
.container{
    max-width: 600px;
    margin: 5rem auto 3rem;
    padding: 3rem 3rem 0;
    background-color: var(---dark-gray);
    border-radius: 12px;
}
header{
    color: var(---green);
    text-transform: uppercase;
}
main{
    height: 350px;
    font-size: 4rem;
    position: relative;
}
/* box{
} */
.pattern-divider{
    margin: 1rem auto;
    height: 30px;
}
.pattern-divider img{
    filter: brightness(100);
}
.dice{
    position: absolute;
    left: 50%;
    bottom: 0;
    transform: translate(-50% ,50%);
    cursor: pointer;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background-color: var(---green);
    transition: all 1s ease-in-out;
}
.dice:hover{
    box-shadow: 4px 4px 6px hsla(150, 100%, 66%, 0.498),
    6px 4px 6px hsla(150, 100%, 66%, 0.498),
    -4px -4px 6px hsla(150, 100%, 66%, 0.498),
    -6px -4px 6px hsla(150, 100%, 66%, 0.498)
    ;
}
.attribution a { color: var(---green); }
/* =====================
MEDIA
======================= */
@media screen and (max-width: 550px) {
    body{
        font-size: 1.5rem;
    }
    .container{
    margin: 2rem auto 3rem;
    width: 80%;
    padding: 3rem 3rem 0;
    }
}
@media screen and (max-width: 500px) {
    body{
        overflow-x: hidden !important;
        font-size: 1.5rem;
    }
    .container{
    margin: 20px auto 40px;
    padding: 2rem 0 0;
    }
    main{
        font-size: 3.5rem;
        height: 300px;
    }
    .pattern-divider img{
        width: 100%;
    }
    .pattern-divider{
        width: 80%;
    }
}
/* MOBILE */
@media screen and (max-width: 450px) {
    body{
        font-size: 1.2rem;
    }
    .container{
    margin: 4rem auto 5rem;
    padding: 1rem 1rem 0;
    }
    main{
        font-size: 1.8rem;
        height: 200px;
    }
}